/node_modules
/vendor
.env
.git
.gitignore
.editorconfig
Dockerfile
.dockerignore
docker-compose.yml
phpunit.xml
tests/
storage/*.key
.phpunit.result.cache
.env.example
README.md
vendor/
node_modules/
npm-debug.log
yarn-error.log
